/* Estilos para o CardFifa */
.ctnJogadores {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}

.fifaCard {
    background-color: #f2f6fd;
    border: 1px solid #464646;
    padding: 20px;
    border-radius: 8px;
}

.fifaCard h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.fifaCard p {
    font-size: 14px;
    color: #000000;
}

.pag {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagButton {
    padding: 8px 16px;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagButton:hover {
    background-color: #0056b3;
}

.pagButton.active {
    background-color: #0056b3;
}

.pagButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

@media (max-width: 992px) {
    .ctnJogadores {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}


/* Estilos para a tabela de jogadores do FIFA */
.fifaTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.fifaTable th,
.fifaTable td {
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
}

.fifaTable th {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.fifaTable td {
    font-size: 14px;
    color: #666;
}

/* Estilos para a Paginação do FIFA */
.fifaPagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fifaPaginationButton {
    padding: 8px 16px;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.fifaPaginationButton:hover {
    background-color: #0056b3;
}

.fifaPaginationButton.active {
    background-color: #0056b3;
}

.fifaPaginationButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Media Query para telas menores */
@media (max-width: 992px) {
    .fifaTable th,
    .fifaTable td {
        padding: 15px;
    }
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
}

.table th {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.table td {
    font-size: 14px;
    color: #666;
}

/* Estilos para a Paginação */
.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginationButton {
    padding: 8px 16px;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.paginationButton:hover {
    background-color: #0056b3;
}

.paginationButton.active {
    background-color: #0056b3;
}

.paginationButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* Media Query para telas menores */
@media (max-width: 992px) {
    .table th, .table td {
        padding: 15px;
    }
}